.button {
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: $line-height-medium;
  color: #ffffff;
  background-color: $blue-light;
  text-transform: uppercase;
  border: none;

  &:hover,
  &:focus {
    background-color: $blue;
  }

  &:active {
    background-color: $blue-darker;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $grey-darker;
  }
}

.button--disabled {
  background-color: $grey-darker;
  cursor: default;

  &:hover,
  &:focus {
    background-color: $grey-darker;
  }
}
