.features {
  display: flex;
  flex-direction: column;

  @include list-reset;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 38px;
  background-color: #ffffff;
}

.features__item {
  display: flex;
  padding-top: 19px;
}

.features__icon {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 43px;
  margin-right: 10px;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.features__icon--home::before {
  top: 0;
  left: 1px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icons/icon-house.svg");
  background-size: 39px 37px;
}

.features__icon--gift::before {
  top: -1px;
  left: 5px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icons/icon-gift.svg");
  background-size: 32px 38px;
}

.features__icon--food::before {
  top: 5px;
  left: -2px;
  width: 40px;
  height: 35px;
  background-image: url("../img/icons/icon-burger.svg");
  background-size: 40px 35px;
}

.features__description {
  width: 230px;
  padding-top: 9px;
}

.features__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: $font-size-medium;
  line-height: $line-height-large;
}

.features__text {
  margin: 0;
  line-height: $line-height-small;
}

@media (max-width: $mobile-width-only) {
  .features__text br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }

  .features__item {
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    padding-top: 56px;
    padding-bottom: 62px;
    padding-left: 46px;
    padding-right: 46px;
    text-align: center;
  }

  .features__item:nth-of-type(2) {
    order: 1;
  }

  .features__icon {
    width: 80px;
    height: 76px;
    margin-right: 0;
    margin-bottom: 26px;
  }

  .features__icon--home::before {
    top: 4px;
    left: 3px;
    width: 75px;
    height: 72px;
    background-size: 75px 72px;
  }

  .features__icon--gift::before {
    top: 1px;
    left: 8px;
    width: 64px;
    height: 75px;
    background-size: 64px 75px;
  }

  .features__icon--food::before {
    top: 7px;
    left: 2px;
    width: 77px;
    height: 68px;
    background-size: 77px 68px;
  }

  .features__description {
    width: 165px;
    padding: 0;
  }

  .features__title {
    margin-bottom: 21px;
    font-size: $font-size-large;
  }
}

@media (min-width: $desktop-width) {
  .features__description {
    width: 285px;
  }

  .features__text {
    margin-bottom: 21px;
  }
}
