.feedback {
  padding-bottom: 37px;
}

.feedback__header {
  dispalay: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 37px;
  padding-bottom: 18px;
  text-align: center;
  border-bottom: 1px solid $grey-darker;
}

.feedback__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  color: #000000;
}

.feedback__description {
  margin: 0;
  line-height: 24px;
}

.feedback__button {
  width: 280px;
  margin-top: 26px;
  margin-right: 20px;
  margin-left: 20px;
}
