.fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid $grey-darker;

  &:last-of-type {
    border: none;
  }
}

.fieldset__legend {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: $font-size-medium;
  color: #000000;
  text-align: center;
}

.fieldset__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.fieldset__inner {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset__label {
  flex-shrink: 0;
  margin-right: 17px;
}

.fieldset__input {
  flex-grow: 1;
  width: 50%;
  padding-left: 17px;
  padding-top: 11px;
  padding-bottom: 13px;
  font-weight: 700;
  font-size: $font-size-medium;
  line-height: $line-height-large;
  background-color: $grey-light;
  color: #000000;
  border: 4px solid $grey-light;

  &::placeholder {
    color: inherit;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: $grey-darker;
    border-color: $grey-darker;
  }

  &:focus {
    background-color: #ffffff;
    border-color: $grey-darker;
  }
}

.fieldset--contacts {
  padding-bottom: 28px;
}

.fieldset--contacts .fieldset__legend {
  padding-bottom: 20px;
}

.fieldset--contacts .fieldset__inner {
  flex-direction: column;
  align-items: left;
  margin-bottom: 11px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.fieldset--contacts .fieldset__label {
  width: 100%;
  padding-left: 21px;
  margin-right: 0;
  margin-bottom: 8px;
}

.fieldset--contacts .fieldset__input {
  width: 100%;
  padding-right: 58px;
}

.fieldset--experience {
  padding-bottom: 27px;
}

.fieldset--experience .fieldset__legend {
  padding-bottom: 24px;
}

.fieldset--experience .fieldset__label {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset--experience .fieldset__text,
.fieldset--places .fieldset__text {
  padding-bottom: 5px;
}

.fieldset__icon {
  position: relative;
  flex-shrink: 0;
  display: block;
  width: 56px;
  height: 56px;
  margin-right: 22px;
  background-color: $grey-light;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 5px;
  }
}

.fieldset__radio:checked + .fieldset__icon {
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-color: $font-body-color;
    border-radius: 50%;
  }
}

.fieldset__text--small-bold {
  font-weight: 700;
  font-size: $font-size-medium;
  color: #000000;
  text-transform: none;
}

.fieldset--places .fieldset__legend {
  padding-bottom: 18px;
}

.fieldset--places .fieldset__label {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset--textarea {
  padding-bottom: 51px;
}

.fieldset--textarea .fieldset__legend {
  padding-bottom: 18px;
}

.fieldset__textarea {
  min-height: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: $font-size-medium;
  line-height: $line-height-large;
  color: #000000;
  background-color: $grey-light;
  border: none;
  resize: none;

  &::placeholder {
    font-weight: 700;
    font-size: $font-size-medium;
    line-height: $line-height-large;
    color: #000000;
  }
}

@media (min-width: $tablet-width) {
  .fieldset {
    width: 50%;
    padding: 0;
    margin-bottom: 52px;
    border: none;
  }

  .fieldset__legend {
    font-size: $font-size-large;
  }

  .fieldset__wrapper {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .fieldset__icon {
    margin-right: 20px;
  }

  .fieldset--experience {
    order: -1;
  }

  .fieldset--experience .fieldset__label {
    margin-bottom: 22px;
  }

  .fieldset--experience .fieldset__legend {
    margin-bottom: 60px;
    padding: 0;
    padding-right: 20px;
    text-align: left;
  }

  .fieldset:first-of-type {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -1px;
      width: 1px;
      height: 292px;
      background-color: #dbdbdb;
    }
  }

  .fieldset:first-of-type .fieldset__legend {
    padding: 0;
    padding-left: 58px;
    margin-bottom: 58px;
    text-align: left;
  }

  .fieldset:first-of-type .fieldset__wrapper {
    padding-left: 58px;
  }


  .fieldset--contacts,
  .fieldset--textarea {
    width: 100%;
    margin-bottom: 35px;
  }

  .fieldset--contacts .fieldset__legend,
  .fieldset--places .fieldset__legend,
  .fieldset--textarea .fieldset__legend {
    position: relative;
    padding-bottom: 17px;
    padding-left: 125px;
    padding-right: 125px;
    margin-bottom: 7px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      width: 125px;
      background-color: #dbdbdb;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .fieldset--contacts .fieldset__inner {
    margin-bottom: 22px;
  }

  .fieldset--places {
    width: 100%;
    margin-bottom: 50px;
  }

  .fieldset--places .fieldset__legend {
    margin-bottom: 26px;
  }

  .fieldset--places .fieldset__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 95px;
    padding-right: 90px;
  }

  .fieldset--places .fieldset__label {
    width: 50%;
    margin-bottom: 32px;

    &:nth-of-type(2n) {
      padding-left: 28px;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  .fieldset--places .fieldset__icon {
    margin-right: 23px;
  }

  .fieldset--textarea {
    margin-bottom: 58px;
  }

  .fieldset--textarea .fieldset__legend {
    margin-bottom: 41px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset {
    margin-bottom: 50px;
  }

  .fieldset:first-of-type::before {
    left: 0;
  }

  .fieldset:first-of-type .fieldset__legend {
    padding-left: 79px;
  }

  .fieldset:first-of-type .fieldset__wrapper {
    padding-left: 80px;
  }

  .fieldset--experience .fieldset__legend {
    padding-left: 79px;
  }

  .fieldset--experience .fieldset__wrapper {
    padding-left: 4px;
  }

  .fieldset--contacts .fieldset__legend,
  .fieldset--places .fieldset__legend,
  .fieldset--textarea .fieldset__legend {
    padding-left: 280px;
    padding-right: 280px;

    &::before,
    &::after {
      width: 280px;
    }
  }

  .fieldset--contacts {
    margin-bottom: 35px;
  }

  .fieldset--contacts .fieldset__legend {
    margin-bottom: 58px;
  }

  .fieldset--contacts .fieldset__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fieldset--contacts .hide {
    display: none;
  }

  .fieldset--contacts .fieldset__label {
    width: 21%;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .fieldset--contacts .fieldset__inner {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:nth-of-type(2n+1) {
      padding-right: 79px;
    }

    &:nth-of-type(2n) .fieldset__label {
      width: 34%;
    }
  }

  .fieldset--contacts .fieldset__input {
    width: 314px;
  }

  .fieldset--places {
    margin-bottom: 48px;
  }

  .fieldset--places .fieldset__legend {
    margin-bottom: 26px;
  }

  .fieldset--places .fieldset__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .fieldset--places .fieldset__label {
    width: 25%;

    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 0;
    }

    &:nth-of-type(2n) {
      padding-left: 0;
    }

    &:nth-of-type(4n+2) {
      padding-left: 19px;
    }

    &:nth-of-type(4n+3) {
      padding-left: 37px;
    }

    &:nth-of-type(4n+4) {
      padding-left: 35px;
    }
  }

  .fieldset--textarea {
    margin-bottom: 58px;
  }
}
