.hotel {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 40px;
  text-align: center;
}

.hotel__title {
  margin: 0;
  margin-bottom: 19px;
  line-height: $line-height-large;
}

.hotel__description {
  margin: 0;
  margin-bottom: 36px;
  line-height: $line-height-medium;
}

.hotel__button {
  margin-bottom: 9px;
}

@media (max-width: $mobile-width-only) {
  .hotel__description br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .hotel {
    padding-top: 55px;
    padding-bottom: 49px;
    padding-left: 155px;
    padding-right: 155px;
  }

  .hotel__title {
    margin-bottom: 30px;
    font-size: $font-size-xx-large;
  }

  .hotel__description {
    margin-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .hotel {
    padding-left: 370px;
    padding-right: 370px;
  }

  .hotel__description {
    margin-bottom: 48px;
  }

  .hotel__button {
    width: 460px;
    margin-bottom: 17px;
  }
}
