.hotel {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 40px;
  text-align: center;
}

.hotel__title {
  margin: 0;
  margin-bottom: 19px;
  line-height: 24px;
}

.hotel__description {
  margin: 0;
  margin-bottom: 32px;
}

.hotel__button {
  margin-bottom: 9px;
}
