.page-header {
  position: relative;
  min-height: 56px;
}

.page-header__container {
  display: flex;
  flex-direction: column;
}

.page-header__logo-wrapper {
  order: 2;
  position: relative;
  z-index: 1;
  min-height: 56px;
}

.page-header__logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 102px;
  height: 83px;
  transform: translateX(-50%);
}

.page-header__logo-image {
  width: 102px;
  height: 83px;
}

@media (min-width: $tablet-width) {
  .page-header__logo-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 102px;
    height: 83px;
  }
}
