.photo {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 18px;
  border-bottom: 1px solid $grey-darker;
}

.photo__link {
  display: block;
  width: 280px;
  height: 280px;
  overflow: hidden;
}

.photo__description {
  margin-bottom: 8px;
}

.photo__footer {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  line-height: $line-height-medium;
}

.photo__title {
  margin: 0;
  font-size: $font-size-small;
  color: #000000;
}

.photo__author {
  margin: 0;
  text-transform: none;
}

.photo__like {
  display: flex;
  flex-wrap: wrap;
}

.photo__like-button {
  width: 22px;
  height: 20px;
  margin-right: 15px;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/icons/icon-like.svg");
  background-position: top center;
  background-repeat: no-repeat;
  border: 0;
  opacity: 0.3;
  cursor: pointer;
}

.photo__like-number {
  font-weight: 700;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .photo {
    width: 50%;
    padding: 0;
    border-bottom: none;

    &--full-width {
      width: 100%;
    }
  }

  .photo__link {
    width: 324px;
    height: 267px;
  }

  .photo--full-width .photo__link {
    width: 648px;
    height: 400px;
  }

  .photo__footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
    background-color: $grey-light;
  }

  .photo__description {
    margin-bottom: 0;
  }

  .photo__like {
    margin-top: 13px;
    margin-right: 9px;
  }

  .photo--full-width .photo__like {
    margin-right: 0;
  }

  .photo__like-button {
    margin-right: 10px;
  }

  .photo:nth-of-type(2n+3) .photo__footer {
    padding-left: 21px;
    background-color: #eaeaea;
  }

  .photo:nth-of-type(2n+3) .photo__like {
    margin-right: 16px;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    position: relative;
    width: 33.3%;

    &--full-width {
      width: 100%;
    }
  }

  .photo__link {
    width: 400px;
    height: 267px;
  }

  .photo--full-width .photo__link {
    width: 100%;
  }

  .photo__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }

  .photo__title {
    color: #ffffff;
  }

  .photo__like-number {
    color: #ffffff;
  }

  .photo:nth-of-type(2n+3) .photo__footer {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
