.socials {
  display: flex;
  flex-wrap: wrap;

  @include list-reset;
}

.socials__item {
  margin-right: 6px;

  &:last-of-type {
    margin-right: 0;
  }
}

.socials__link {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: $blue-light;

  &:hover,
  &:focus {
    background-color: $blue;
  }

  &:active {
    background-color: $blue-darker;
  }
}

.socials__icon {
  margin: auto;
  fill: #ffffff;
}

.socials__link:active .socials__icon {
  fill: rgba(255, 255, 255, 0.3);
}
