$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;
$line-height-small: 21px;
$line-height-medium: 26px;
$line-height-large: 40px;
$font-body-color: #333333;
$blue-light: #81b3d2;
$blue: #669ec0;
$blue-darker: #5496bd;
$grey-darker: #e5e5e5;
$grey: #eeeeee;
$grey-light: #f2f2f2;
